<div id="main_content" class="container_12 clearfix">
  
   <div class="grid_4 box">
      <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
     <% end %>
        <h2>Sign In</h2>
       
        <%= form_for(:session, :url=> sessions_path) do |f| %>
        
          <div class='field'>
            <%= f.label :email %><br/>
            <%= f.text_field :email %>
          </div>
          
           <div class='field'>
            <%= f.label :password %><br/>
            <%= f.password_field :password %>
          </div>
                   
          <div class='actions'>
            <%= f.submit "Sign In" %>
          </div>
          
          <% end %>
          
  

<p>New user?
<%= link_to 'Register now', signup_path 
%>

</p>
</div>

 <hr class="grid_12"></hr>

</div>
