<div id="main_content" class="container_12 clearfix">
  
   
 
<%= form_for(@user) do |f| %>

<div class="grid_4 box">
<h1>Editing user</h1>
<article id="errors">
          <%= render 'shared/error_messages', :object => f.object %>
          
        </article> 

          <div class='field'>
            <%= f.label :first_name %><br/>
            <%= f.text_field :first_name %>
          </div>
          
          <div class='field'>
            <%= f.label :first_name %><br/>
            <%= f.text_field :first_name %>
          </div>
          
          <div class='field'>
            <%= f.label :email %><br/>
            <%= f.text_field :email %>
          </div>
          
           <div class='field'>
            <%= f.label :password %><br/>
            <%= f.password_field :password %>
          </div>
          <div class='field'>
            <%= f.label :password_confirmation, "Confirmation" %><br/>
            <%= f.password_field :password_confirmation %>
          </div>
          
           <div class='actions'>
            <%= f.submit "Update" %>
          </div>
      <% end %>

</div>

 <hr class="grid_12"></hr>

</div>
